<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>Lorem, ipsum dolor.</h2>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic obcaecati consequuntur possimus. Est cumque quo, sint laborum molestiae hic libero vero quia ducimus recusandae earum quas maxime tempore? Tenetur, aspernatur harum laborum quod ut natus minima perferendis eius facere recusandae nam? Tempora iste deserunt odit quas aspernatur! Quisquam, quo eum.</p>
</body>
</html>